.button {
    border-radius: 6px;
    min-height: 40px;
    padding: 16px;
    text-align: center;
    border: none;
    font-weight: bold;
    font-family: 'Ifkica';
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}

.button:disabled {
    color: grey;
    border: 2px solid grey;
}

.default {
    background: none;
    color: var(--colors-interface-white);
    border: 2px solid var(--colors-interface-primary);
}

.pale {
    background: none;
    color: var(--colors-interface-primary);
}

.teal {
      background-size: 110% auto;
      background-position: center;
      background: none;
      color: var(--colors-interface-white);
      font-weight: 900;
      width: 270px;
      border: 2px solid var(--colors-interface-secondary);
}